; S2ED CONFIGURATION FILE
; PROFILE: STD, WS, EMC, VI
PROFILE=STD
; WRAP: DEV, TXT
WRAP=DEV
; MARKUP: OFF, MD, LIT
MARKUP=OFF
; CLOCK: 0=OFF, 1=ON
CLOCK=1
; TABWIDTH: 2, 4, 8
TABWIDTH=4
; EOL: AUTO, DOS, UNIX
EOL=AUTO
; AUTOALIGN: OFF, ON, or DEV (ON only when WRAP=DEV)
AUTOALIGN=DEV
