; S61ED CONFIGURATION FILE
; PROFILE: STD, TED, EMC, VI
PROFILE=STD
; WRAP: DEV, TXT
WRAP=DEV
; TEXTWIDTH: 0=OFF, 1-255 = WRAP MARGIN (IMPLIES WRAP=TXT)
;TEXTWIDTH=61
; MARKUP: OFF, MD, LIT
MARKUP=OFF
; CLOCK: 0=OFF, 1=ON
CLOCK=1
; TABWIDTH: 2, 4, 8
TABWIDTH=4
; EOL: AUTO, DOS, UNIX
EOL=AUTO
; AUTOALIGN: OFF, ON, or DEV (ON only when WRAP=DEV)
AUTOALIGN=DEV
; THEME: DARK, AMBER, GREEN, LIGHT, MSX, MONO
THEME=DARK
; SHADOW: OFF, BG, FG, UI, HI
;SHADOW=UI
