; S6ED CONFIGURATION FILE
; PROFILE: STD, WS, EMC, VI
PROFILE=STD
; WRAP: DEV, TXT
WRAP=DEV
; MARKUP: OFF, MD, LIT
MARKUP=OFF
; CLOCK: 0=OFF, 1=ON
CLOCK=1
; TABWIDTH: 2, 4, 8
TABWIDTH=4
; EOL: AUTO, DOS, UNIX
EOL=AUTO
; AUTOALIGN: OFF, ON, or DEV (ON only when WRAP=DEV)
AUTOALIGN=DEV
; THEME: DEFAULT, AMBER, GREEN, MSX, LIGHT, MONO
THEME=DEFAULT
; CUSTOM COLORS (R,G,B VALUES FROM 0 TO 7):
; COLOR_BG=0,0,0
; COLOR_TEXT=7,7,7
; COLOR_UI=1,2,7
; COLOR_HIGHLIGHT=7,7,0
